* {
  font-family: Roboto, sans-serif;  
}

html {
  max-width: 70em;
  margin: 0 auto;
}

body {
  padding: 2em;
  font-size: 13pt;
}

.form > div { margin: 15px }
.form label { font-weight: 800; margin-right: 10px }
.form button { margin: 10px; padding: 5px; }